/* Footer Stylesheet */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    padding-top:50px
}
